@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

footer{
     background-color: #33383c;
     padding:10px 0px;
}	       

.adress span , .contact span , .social span{
   color: #FFF; 
   font-weight: 800; 
   padding:20px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}

.adress li , .contact li , .social li {
    padding:5px 0px;
    list-style: none;
}

.adress li p , .contact li a , .social li a{
    color:#FFF;
    letter-spacing: 2px;
    text-decoration:none;
    font-size:14px;
}

.social li{
    float:left;
}

.social .fa{
    color:#9c9c9c;
    margin-right: 10px;
    font-size:22px;
}


* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
